/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require main
 *= require_self
 */

.sectionTitle {
    font-family: 'Open Sans', cursive;
    font-weight: 700;
    font-size: 53px;
    margin-top: -5px;
}

.banner h1 {
	font-family: 'Open Sans', cursive;
    font-weight: 800;
    font-size: 60px;
    line-height: 74px;
}
    
.banner h3 {
    letter-spacing: 1px;
    font-size: 23px;
    left: 67px;
}

.element h4 {
    margin-bottom: 4px;
    font-size: 19px;
}

.element p {
	font-size: 13px;
}

.element img{
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.element ul {
    margin-top: 9px;
}

.element ul li {
	display: inline-block;
    margin-right: 15px;
    color: #5a5a5a;
}

.element ul li:last-child {
	margin-right: 0px;
}

.class .transition {
    margin-top: 20px;
}

.views {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #5a5a5a;
}

#header.float-panel.fixed ul.nav li.club-li {
	background-color: #f64d77;
    border-radius: 9px;
    margin-top: 15px;
    transition: 0.3s;
}

#header.float-panel ul.nav li.club-li {
	background-color: #f64d77;
    border-radius: 9px;
    margin-top: 39px;
    transition: 0.3s;
}

#header.float-panel.fixed ul.nav li.club-li a, #header.float-panel ul.nav li.club-li a {
    padding: 14px !important;
    color: white !important;
}

.club-about {
   font-size: 24px;
    color: gray; 
}

.club-about li span {
    font-size: 15px;
    line-height: 26px;
    display: block;
    margin-top: 10px;
}

.club-about li {
    line-height: 54px;
    font-weight: 100;
}